* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ed145b;
}

header {
  display: flex;
  justify-content: center;
}
.navbar {
  /* border: #ED145B 3px solid; */
  position: fixed;
  top: 0;
  padding: 1rem;
  z-index: 1000;
  border-radius: 20px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, sans-serif;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-list li a:hover {
  color: #ed145b; /* Destaque no hover */
}

.nav-list li a {
  text-decoration: none;
  color: #d1d5db;
  transition: color 0.3s ease;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #313a49;
  color: #ed145b;
  &.two {
    background-color: #171d26;
    height: 100vh;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }
}

#palavra1,
#palavra2,
#palavra3 {
  margin: 40px;
  position: absolute;
  font-weight: bold;
  font-size: 8rem;
  clip-path: inset(0 0 0 0);
}

.container-1 {
  margin: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
}

.text-content {
  flex: 1;
  text-align: left;
}

.text-content h1 {
  font-size: 3rem;
  color: #ed145b;
  margin: 0;
}

.text-content h2 {
  font-size: 1.5rem;
  color: #d1d5db;
}

/* Imagem à direita */
.image-content {
  flex: 1;
  text-align: right;
}

.profile-photo {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  border: 5px solid #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ed145c23;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.2s ease-out; /* Transição de 0.2s */
}

/* --------------------------ABOUT----------------------- */

.about-content {
  display: flex;
  margin: 100px;
  justify-content: space-between; /* Espaço entre texto e imagem */
}

.section-about {
  padding: 100px 0;
  height: 100vh;
  position: absolute;
}

.text-about {
  font-size: 1.5rem;
  width: 40vw;
  color: #d1d5db;
}
& h1 {
  color: #ed145b;
}

.image-about {
  overflow: hidden;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-about img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
